<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet" />

		<title>Account Create</title>

		<style>
			body {
				font-family: 'Poppins', sans-serif;
			}

			.main {
				width: 100% !important;
				max-width: 640px !important;
				background: #c0ebf945 !important;
				box-shadow: 1px 1px 10px -3px #ccc !important;
				margin: auto !important;
				padding: 25px !important;
				margin-top: 0px !important;
				margin-bottom: 30px !important;
				position: relative !important;
			}

			@media only screen and (max-width: 420px) {
				.main {
					padding: 0px !important;
				}
			}

			td.f-pswd {
				text-align: center;
				text-transform: uppercase;
			}

			td.f-pswd h2 {
				margin-top: 30px;
				font-size: 24px;
				color: #00940c96;
			}

			td.f-pswd h2 span {
				display: block;
				font-size: 36px;
				color: #00940c;
			}

			a.btnfswd {
				background-color: #00b3ef;
				border: none;
				color: white;
				padding: 15px 32px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 16px;
				margin: 4px 2px;
				cursor: pointer;
				margin-top: 30px;
				margin-bottom: 30px;
			}

			td.img-pswd {
				text-align: center;
				background: #f9e9ec;
				padding: 30px;
				margin-top: 30px !important;
			}

			td.img-pswd img {
				text-align: center;
				margin-top: 50px;
			}

			td.e-text {
				text-align: center;
			}

			td.e-link {
				text-align: center;
				padding: 20px 0px;
			}

			td.e-link a {
				color: #00b3ef;
			}
		</style>
	</head>

	<body style="padding: 0px; margin: 0">
		<div class="main">
			<table class="table" width="100%" width="600px" border="0" cellpadding="0" cellspacing="0" align="center">
				<thead>
					<tr>
						<th><img src="https://houseofmaidscleaningservices.co.uk/cleaning-backend/emailTemplatePics/logo.png" width="350px;" style="margin-bottom: 30px" /></th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td class="img-pswd"><img src="https://houseofmaidscleaningservices.co.uk/cleaning-backend/emailTemplatePics/account-confirmed.svg" width="350px;" /></td>
					</tr>

					<tr>
						<td class="f-pswd">
							<h2>Congratulations! <span>Account Created</span></h2>
						</td>
					</tr>

					<tr>
						<td class="e-text">Hey Your account has been successfully created.</td>
					</tr>
					<tr>
						<td class="e-text">For login just click on below button</td>
					</tr>

					<!-- <tr>
						<td class="e-link">
							<a href="#">http://web.fr/r54617confirm241/user214</a>
						</td>
					</tr>

					<tr>
						<td class="e-text">
							What do you get? Le Lorem Ipsum est simplement du faux texte employe dans la composition et la muse en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis.
							<br />Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les annees 1500.
						</td>
					</tr> -->

					<tr>
						<td class="f-pswd button">
							<a href="https://houseofmaidscleaningservices.co.uk/auth/login" class="btnfswd">Login! </a>
						</td>
					</tr>

					<tr>
						<td class="e-text">
							Get in touch if you have any questions regarding our new product. Feel free to contact us 24/7. We are here to help.
							<br />
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>
